@import 'base/mixins';
@import 'base/variables';
@import 'base/animations';

* {
	font-family: 'Museo Sans Cyrl';
}

h1,h2,h3,h4,h5,h6 {
	margin: 0;
}

a {
	text-decoration: none;
}

.container {
	width: 950px;
	margin: 0 auto;
}

@import 'blocks/promo.scss';
@import 'blocks/header.scss';
@import 'blocks/buttons.scss';
@import 'blocks/advantag.scss';
@import 'blocks/title.scss';
@import 'blocks/consultation.scss';
@import 'blocks/forms.scss';
@import 'blocks/carousel.scss';
@import 'blocks/catalog';
@import 'blocks/reviews';
@import 'blocks/footer';

@import 'blocks/pageup';
@import 'blocks/modal';





@import 'base/media.scss';
