.carousel {
	padding: 81px 0;
	.container_block {
		position: relative;
	}
	&__inner {
		position: relative;
		width: 750px;
		margin: 0 auto;
	}
	.prev, .next {
		position: absolute;
		border: none;
		background-color: rgba(255, 255, 255, 0);
		top: 50%;
		transform: translateY(-50%);
		transition: 0.2s all;
		&:hover path {
			fill: #aa0000;
		}
		&:hover {
			top: 49%;
		}
		svg {
			width: 31px;
			height: 50px;
		}
	}
	.next {
		right: 0;
	}
	.tns-item {
		img {
			display: block;
			margin: 0 auto;
		}
	}
}
