.title {
	text-align: center;
	font-weight: 900;
	font-size: 30px;
	color: $black-color;
	text-transform: uppercase;
	&_left {
		text-align: left;
		font-size: 36px;
		color: #fff;
		line-height: 50px;
	}
}
